@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    display: flex;
}

.container-info{
    min-width: 20vw;
    border-right: 3px solid rgb(218, 216, 216);
    display: flex;
    flex-direction: column;
}

.container-info form{
    background-color: green;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.container-info form input{
    width: 100%;
}
.container-info form button{
    width: 100%;
    height: 50px;
    background-color: rgb(234, 140, 215);
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.all-requests{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.all-requests div{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 235, 235);
}

.all-requests div .user-request {
    font-size: 19px;
    min-width: 70%;
}

.all-requests div .response{
    display: flex;
    gap: 5px;
    width: 100%;
}

.response button{
    width: 100%;
}


.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.container ul{
    min-height: 94vh;
    max-height: 94vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
    position: relative;

}


.container ul div p {
    max-width: 500px;
    display: inline-block;
    word-wrap: break-word;
    padding: 13px;
}

.sent{
    background: linear-gradient(#4b59f8, #9198e5);
    float: right;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.recived{
    background-color: rgb(205, 201, 201);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



.container form{
    width: 100%;
    min-height: 6vh;
    display: flex;
    border-top: 1px solid rgb(209, 207, 207);
}

input{
    height: 100%;
    min-width: 70%;
    font-size: 22px;
    padding-left: 10px;
    padding-top: 7px;
    outline: none;
    border: none;
    display: flex;

}
.container form button{
    width: 30%;
    background-color: purple;
    color: white;
}


.open{
    animation: show 2s;
}

@keyframes show{
    from{opacity: 0;}
    from{transform:  translateY(-20px);}
    to{opacity: 1;}
    to{transform:  translateY(0px);}
}

@media (max-width: 500px){
    .container-info{
        display: none;
    }
}