*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
}

.container ul{
    height: 94vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto

}

form{
    height: 6vh;
    display: flex;
    bottom: 0;
    float: bottom;
    border-top: 1px solid rgb(209, 207, 207);
}
input{
    height: 100%;
    width: 100%;
    font-size: 22px;
    padding-left: 10px;
    outline: none;
    border: none;
}

button{
    min-width: 80px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


p{
    display: inline;
    padding: 10px;
    font-size: 21px;
    margin-bottom: 50px;
}



.sent{
    background-color: plum;
    float: right;
    margin-bottom: 20px;
    max-width: 350px;
    word-wrap: break-word;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.recived{
    background-color: rgb(226, 226, 226);
    color: black;
    float: left;
    max-width: 350px;
    word-wrap: break-word;
    margin-bottom: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.open{
    animation: show 2s;
}

@keyframes show{
    from{opacity: 0;}
    from{transform:  translateY(-20px);}
    to{opacity: 1;}
    to{transform:  translateY(0px);}
}