<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <ul id="messages"></ul>
        <form action="" id="messageForm">
            <input type="text"  id="m" autocomplete="off" placeholder="digite aqui">
            <button type="submit" id="">Enviar</button>
        </form>
    </div>

    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
    <script>
        const socket = io()
        const mywords = []
        let txt = ''

        async function sendAudio(){
            let sendaudiotext = await new Audio('./audios/sentcut.mp3')

            sendaudiotext.play()
        }

        async function recivedAudio(){
            let recivedaudiotext = await new Audio('./audios/recivedcut.mp3')

            recivedaudiotext.play()
        }

        document.querySelector('#messageForm').addEventListener('submit', function(event) {
            event.preventDefault()

            txt = document.querySelector("#m").value

            if(txt.toLowerCase().indexOf('gileade') !== -1){
                txt = txt.replace(/gileade/g, 'Amor da minha Vida <3')
                console.log(txt)
                socket.emit('chat message', txt)
                mywords.push(txt)

            }else{
                socket.emit('chat message', document.querySelector('#m').value)
                mywords.push(document.querySelector('#m').value)
            }


            console.log(mywords)

            document.querySelector('#m').value = ''
        })



        //adicionar um ouvinte para receber mensagens do servidor
        socket.on('chat history', function(history){
            // const messageList = document.querySelector('#messages')
            // const listItem = document.createElement('li')
            // listItem.textContent = msg
            // messageList.appendChild(listItem)

            //limpando a tela para não replicar mensagens repitidas
            const allmsglist = document.querySelectorAll('#messages div')

            allmsglist.forEach((li)=>{
                li.remove()
            })

            for (const msg of history){
                const messageList = document.querySelector('#messages')
                const div = document.createElement('div')
                const text = document.createElement('p')
                text.textContent = msg
                div.appendChild(text)
                messageList.appendChild(div)


                if(mywords.indexOf(msg) !== -1){
                    text.className = 'sent'
                }else{
                    text.className = 'recived'

                }

                messageList.scrollTop = messageList.scrollHeight
                const divs = document.querySelectorAll('#messages div')

                divs.forEach((el)=>{
                    if(mywords.length > 0 || divs.length > 0){
                        if(el === divs[divs.length - 1]){
                            el.className = 'open'
                            console.log("aqui")
                        }else{
                            el.className = ''
                        }
                    }
                })

            }

            if(history.indexOf(txt) !== -1){
                    recivedAudio()
            }else{
                sendAudio()
            }



        })

    </script>
</body>
</html>