<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/name.css">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/home" method="post" class="formName" >
            <input type="text" name="user" id="nameuser" placeholder="digite seu nome">
            <input type="password" name="password" id="passuser" placeholder="sua senha">
            <button type="submit">Entrar</button>
        </form>
    </div>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
    <script>
    </script>
</body>
</html>